In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
first_file = True
for file in os.listdir('./../datasets/raw-datasets/GHG_Dataset/'):

    file_name = file[:-4].split("-")
    gas = file_name[-1]
    sector = " ".join(file_name[2:-1])
    df = pd.read_csv("./../datasets/raw-datasets/GHG_Dataset/" + str(file))
    df.dropna(axis = 0, inplace = True)
    df.replace("false", 0, inplace = True)
    df["Sector"] = sector
    df["Gas"] = gas
    df.drop("unit", axis = 1, inplace=True)
    
    if first_file:
        first_file = False
        main_df = df
    else:
        main_df = main_df.append(df)

In [3]:
main_df

,Country/Region,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,Sector,Gas
0,India,433.94,437.56,440.17,443.69,446.37,448.12,451.53,452.40,456.39,...,487.58,484.40,487.51,487.66,485.98,491.01,494.26,498.49,agriculture,CH4
1,China,336.95,341.21,341.33,338.76,346.38,366.27,386.77,349.74,366.92,...,341.02,338.53,337.58,337.91,341.35,342.28,335.56,331.36,agriculture,CH4
2,Brazil,242.13,250.26,254.46,254.58,259.46,264.09,251.71,256.38,262.05,...,333.93,334.26,330.24,333.33,337.89,339.75,335.96,329.92,agriculture,CH4
3,United States,196.96,198.23,200.94,201.32,205.97,206.73,206.13,205.31,203.43,...,196.19,194.03,190.92,191.45,191.76,198.17,198.78,202.19,agriculture,CH4
4,Pakistan,60.52,61.52,62.16,64.05,64.98,66.30,69.48,71.15,72.99,...,106.16,108.30,112.97,116.59,119.39,122.76,126.92,130.30,agriculture,CH4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Seychelles,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,waste,N2O
189,Tuvalu,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,waste,N2O
190,Gambia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,waste,N2O
191,Palau,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,waste,N2O
192,Eswatini,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,waste,N2O

In [4]:
col = list(map(str, list(range(1990, 2019))))
main_df[col] = main_df[col].astype("float")

In [5]:
gb_gas = main_df.groupby(by = "Gas").sum()
gb_gas.sort_values(by = col[-1::-1], ascending=False, inplace=True)
gb_gas.T

Gas        CO2      CH4      N2O        F
1990  22589.49  7058.67  2412.74   302.17
1991  22787.72  7035.62  2403.17   297.45
1992  22764.53  6970.75  2396.85   294.53
1993  22886.12  6949.59  2382.79   290.52
1994  23017.66  6923.72  2474.75   297.89
1995  23635.49  6933.92  2529.82   329.36
1996  23952.89  6931.56  2542.27   359.04
1997  25016.29  7154.33  2529.26   391.63
1998  24593.47  7031.36  2558.50   424.88
1999  24637.17  7004.98  2541.73   426.76
2000  25302.37  6980.57  2529.88   443.66
2001  25383.39  6970.34  2550.55   441.58
2002  26131.77  7157.54  2602.83   467.41
2003  26937.13  7185.62  2633.65   477.76
2004  28439.25  7377.76  2708.72   511.76
2005  29276.46  7366.48  2716.16   541.96
2006  30506.47  7584.21  2743.59   587.18
2007  31199.76  7576.50  2808.72   641.48
2008  31466.38  7672.33  2781.25   684.65
2009  31391.51  7768.70  2777.34   705.57
2010  32915.07  7812.22  2847.88   762.18
2011  32818.75  7930.77  2914.82   812.32
2012  33224.59  8002.79  2935.83   860.97
2013  33813.73  7997.37  2916.23   908.93
2014  34150.46  8156.73  2960.73   962.59
2015  34081.64  8236.37  2993.10  1000.64
2016  34715.99  8167.29  3023.84  1053.59
2017  35135.58  8223.87  3073.98  1094.81
2018  35992.10  8293.76  3059.55  1136.08

In [6]:
gb_country = main_df.groupby(by = "Country/Region").sum()

world = np.round(np.array(gb_country.iloc[:, :].sum(axis=0)), 2)
world = np.reshape(world, (29,1))
df = pd.DataFrame(world).T
column = list(map(str, list(range(1990, 2019))))
df.columns = column
gb_country = gb_country.append(df)

as_list = gb_country.index.tolist()
idx = as_list.index(0)
as_list[idx] = 'World'
gb_country.index = as_list
gb_country.index.name = "Country"

gb_country.sort_values(by = col[-1::-1], ascending=False, inplace=True)

gb_country

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
World,32363.07,32523.96,32426.66,32509.02,32714.02,33428.59,33785.76,35091.51,34608.21,34610.64,...,42643.12,44337.35,44476.66,45024.18,45636.26,46230.51,46311.75,46960.71,47528.24,48481.49
China,2879.33,3030.64,3165.78,3387.60,3539.64,3929.47,3967.16,3973.76,4113.87,4064.22,...,9082.09,9915.85,10411.81,10737.21,11189.42,11200.39,11202.86,11264.73,11469.83,11769.64
United States,5674.30,5639.01,5727.82,5823.73,5912.39,5981.79,6145.25,6385.22,6420.29,6431.76,...,5934.82,6190.41,5942.41,5670.27,5809.14,5830.11,5711.15,5813.76,5761.88,5939.19
India,1014.57,1069.36,1101.67,1133.84,1180.62,1246.80,1296.27,1354.64,1388.95,1467.29,...,2481.05,2590.88,2624.70,2772.03,2830.35,3002.64,3017.39,3089.62,3219.92,3365.17
Russia,2917.09,2811.18,2573.35,2312.82,2026.62,1945.01,1902.45,1768.73,1752.56,1785.44,...,1593.08,1714.45,1893.66,1911.84,1878.91,1905.32,1848.64,1966.42,1992.25,2045.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kiribati,0.03,0.03,0.03,0.04,0.04,0.04,0.04,0.06,0.04,0.04,...,0.09,0.08,0.08,0.09,0.10,0.10,0.09,0.11,0.11,0.11
Nauru,0.17,0.17,0.16,0.16,0.14,0.14,0.14,0.14,0.14,0.12,...,0.05,0.05,0.06,0.06,0.06,0.07,0.07,0.09,0.09,0.11
Tuvalu,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.02,...,0.02,0.03,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.04
Liechtenstein,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.03,0.03,...,0.06,0.06,0.03,0.03,0.03,0.03,0.03,0.03,0.02,0.03
Niue,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [7]:
gb_sector = main_df.groupby(by = "Sector").sum()
gb_sector.sort_values(by = col[-1::-1], ascending=False, inplace=True)
gb_sector.T

Sector,electricity,transportation,manufacturing construction,agriculture,industrial process,building,fugitive emission,waste,other fule combustion,Land use change and forestry,bunkerfules
1990,8516.91,3950.41,3922.30,4976.16,937.84,2587.50,2253.32,1363.93,1342.62,1908.77,603.31
1991,8645.99,3979.46,3841.77,4968.38,945.35,2612.82,2261.83,1394.64,1353.09,1908.74,611.89
1992,8800.76,4043.16,3706.77,4947.64,1020.85,2505.23,2165.30,1417.80,1265.53,1908.73,644.89
1993,8842.72,4088.37,3657.58,4917.31,1033.91,2565.72,2129.64,1443.89,1285.25,1908.73,635.90
1994,8943.43,4156.43,3672.79,4961.23,1141.56,2483.25,2063.02,1470.42,1253.89,1908.68,659.32
1995,9124.40,4264.95,3898.96,5018.73,1215.11,2557.68,2073.67,1476.04,1205.45,1914.55,679.05
1996,9474.94,4449.42,3788.01,5036.93,1267.60,2627.64,2106.24,1477.85,1146.14,1710.78,700.21
1997,9731.38,4500.20,3811.62,4967.41,1310.26,2605.55,2091.67,1473.88,1195.04,2680.89,723.61
1998,9946.47,4590.88,3809.14,5023.96,1314.87,2452.40,2076.08,1465.78,1174.94,2010.63,743.06
1999,9996.81,4705.65,3647.05,5081.29,1321.19,2522.41,2089.02,1463.97,1185.07,1819.37,778.81
2000,10393.67,4860.96,3826.47,5078.96,1380.78,2514.68,2134.25,1466.26,1124.32,1670.50,805.63
2001,10646.16,4925.39,3847.89,5092.83,1405.36,2539.27,2179.35,1452.38,1145.52,1337.02,774.69
2002,10827.73,5038.86,3844.97,5151.38,1471.52,2538.35,2228.77,1447.44,1152.02,1851.93,806.58
2003,11431.72,5159.03,4033.76,5146.28,1547.59,2621.72,2319.12,1442.97,1179.18,1544.48,808.31
2004,11809.52,5362.86,4464.26,5260.03,1646.79,2664.37,2393.22,1431.33,1219.01,1908.15,877.95
2005,12175.63,5456.83,4880.10,5296.66,1728.97,2664.21,2481.78,1422.14,1238.63,1630.20,925.91
2006,12657.29,5555.94,5125.33,5355.43,1860.30,2630.72,2566.95,1433.25,1257.86,2004.01,974.37
2007,13216.10,5714.16,5399.39,5441.16,1986.59,2627.82,2639.87,1441.27,1270.75,1470.46,1018.89
2008,13253.07,5712.96,5515.76,5451.95,2032.74,2692.73,2746.32,1446.37,1285.94,1431.75,1035.02
2009,13067.71,5628.73,5502.91,5448.66,2083.04,2642.66,2739.03,1453.70,1279.14,1823.88,973.66
2010,13946.10,5841.48,6039.45,5508.27,2216.24,2696.28,2793.83,1464.50,1309.87,1489.05,1032.28
2011,14548.13,5946.95,6262.40,5642.77,2364.92,2643.82,2830.60,1466.72,1314.78,400.90,1054.67
2012,14854.52,6050.26,6282.87,5671.20,2444.08,2588.86,2853.18,1476.01,1360.22,428.74,1014.24
2013,15114.36,6233.13,6271.93,5614.51,2549.26,2701.75,2860.35,1483.48,1403.53,384.46,1019.50
2014,15016.73,6319.96,6310.77,5661.93,2665.19,2650.11,2877.19,1513.62,1421.30,734.12,1059.59
2015,14797.00,6483.69,6267.31,5683.83,2673.08,2679.21,2854.01,1543.02,1440.78,782.70,1107.12
2016,14732.13,6606.06,6140.08,5729.31,2762.36,2726.47,2856.95,1560.28,1435.02,1266.85,1145.20
2017,14945.91,6750.24,6127.20,5812.59,2820.35,2785.21,2850.12,1583.28,1441.52,1219.22,1192.60
2018,15368.41,6900.28,6116.19,5809.85,2897.79,2871.98,2851.47,1606.18,1450.06,1386.72,1222.56

In [8]:
main_df.to_csv("./../datasets/cleaned-datasets/GHG_Complete.csv", index = False)
gb_gas.to_csv("./../datasets/cleaned-datasets/GHG_Gas.csv")
gb_country.to_csv("./../datasets/cleaned-datasets/GHG_Country.csv")
gb_sector.to_csv("./../datasets/cleaned-datasets/GHG_Sector.csv")