In [1]:
import numpy as np
import pandas as pd
import json

In [3]:
df_pop = pd.read_csv("./../datasets/raw-datasets/World_Population_Dataset/API_SP.POP.TOTL_DS2_en_csv_v2_3158886.csv")
df_pop.drop(["Indicator Name", "Indicator Code"], axis = 1, inplace = True)
df_pop = df_pop.rename(columns={"Country Name" : "Country"})
df_pop.head()

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [4]:
df_ghg = pd.read_csv("./../datasets/cleaned-datasets/GHG_Country.csv")
df_ghg.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,World,32363.07,32523.96,32426.66,32509.02,32714.02,33428.59,33785.76,35091.51,34608.21,...,42643.12,44337.35,44476.66,45024.18,45636.26,46230.51,46311.75,46960.71,47528.24,48481.49
1,China,2879.33,3030.64,3165.78,3387.60,3539.64,3929.47,3967.16,3973.76,4113.87,...,9082.09,9915.85,10411.81,10737.21,11189.42,11200.39,11202.86,11264.73,11469.83,11769.64
2,United States,5674.30,5639.01,5727.82,5823.73,5912.39,5981.79,6145.25,6385.22,6420.29,...,5934.82,6190.41,5942.41,5670.27,5809.14,5830.11,5711.15,5813.76,5761.88,5939.19
3,India,1014.57,1069.36,1101.67,1133.84,1180.62,1246.80,1296.27,1354.64,1388.95,...,2481.05,2590.88,2624.70,2772.03,2830.35,3002.64,3017.39,3089.62,3219.92,3365.17
4,Russia,2917.09,2811.18,2573.35,2312.82,2026.62,1945.01,1902.45,1768.73,1752.56,...,1593.08,1714.45,1893.66,1911.84,1878.91,1905.32,1848.64,1966.42,1992.25,2045.89

In [5]:
ghg_country = set(df_ghg["Country"].unique())
len(ghg_country)

194

In [6]:
pop_country = set(df_pop["Country"].unique())
len(pop_country)

266

In [7]:
unique = pop_country.intersection(ghg_country)
len(unique)

169

In [8]:
pop_country.difference(ghg_country)

{'Africa Eastern and Southern',
 'Africa Western and Central',
 'American Samoa',
 'Arab World',
 'Aruba',
 'Bahamas, The',
 'Bermuda',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Cabo Verde',
 'Caribbean small states',
 'Cayman Islands',
 'Central Europe and the Baltics',
 'Channel Islands',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Curacao',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Egypt, Arab Rep.',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fragile and conflict affected situations',
 'French Polynesia',
 'Gambia, The',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hong Kong SAR, China',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iran, Islamic Rep.',
 'Isle of Man',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Macao SAR, China',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Monaco',
 'New Caledonia',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Russian Federation',
 'San Marino',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Upper middle income',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.'}

In [9]:
ghg_country.difference(pop_country)

{'Bahamas',
 'Brunei',
 'Cape Verde',
 'Cook Islands',
 "CÃ´te d'Ivoire",
 'Democratic Republic of the Congo',
 'Egypt',
 'Gambia',
 'Iran',
 'Kyrgyzstan',
 'Laos',
 'Macedonia',
 'Micronesia',
 'Niue',
 'North Korea',
 'Republic of Congo',
 'Russia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'South Korea',
 'Syria',
 'Venezuela',
 'Yemen'}

In [10]:
change = [("Bahamas, The", "Bahamas"), ("Brunei Darussalam" , "Brunei"), ("Cabo Verde", "Cape Verde"), 
          ("Cote d'Ivoire", "CÃ´te d'Ivoire"),("Congo, Dem. Rep.", "Democratic Republic of the Congo"), 
          ("Egypt, Arab Rep.", "Egypt"), ("Gambia, The", "Gambia"), ("Iran, Islamic Rep.", "Iran"), 
          ("Kyrgyz Republic", "Kyrgyzstan"), ("Lao PDR", "Laos"), ("Micronesia, Fed. Sts.", "Micronesia"),
          ("North Macedonia", "Macedonia"), ("Korea, Dem. People's Rep.", "North Korea"), ("Congo, Rep.", "Republic of Congo"), 
         ("Russian Federation", "Russia"), ("St. Kitts and Nevis", "Saint Kitts and Nevis"), ("St. Lucia", "Saint Lucia"), 
         ("St. Vincent and the Grenadines", "Saint Vincent and the Grenadines"), ("Slovak Republic", "Slovakia"), 
         ("Korea, Rep.", "South Korea"), ("Syrian Arab Republic", "Syria"), ("Venezuela, RB", "Venezuela"), 
         ("Yemen, Rep.", "Yemen")]

In [11]:
for ch in change:
    df_pop.replace(ch[0], ch[1], inplace=True)

In [12]:
ghg_country = set(df_ghg["Country"].unique())
pop_country = set(df_pop["Country"].unique())
unique_country = pop_country.intersection(ghg_country)
len(unique_country)

192

In [13]:
drop_country = pop_country.difference(ghg_country)

In [14]:
for country in drop_country:
    df_pop = df_pop[df_pop["Country"] != country]

In [15]:
country_code = dict()

In [16]:
for country in unique_country:
    code = df_pop[df_pop["Country"] == country]["Country Code"].iloc[0]
    country_code[country] = code

In [17]:
with open("./../datasets/cleaned-datasets/country_code.json", "w") as outfile:
    json.dump(country_code, outfile)

In [18]:
drop_column = list(map(str, list(range(1960, 1990))))
drop_column.append("2019")
drop_column.append("2020")
drop_column.append("Country Code")

In [19]:
df_pop.drop(drop_column, axis = 1, inplace=True)

In [20]:
df_pop

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,Afghanistan,12412311.0,13299016.0,14485543.0,15816601.0,17075728.0,18110662.0,18853444.0,19357126.0,19737770.0,...,28394806.0,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0
4,Angola,11848385.0,12248901.0,12657361.0,13075044.0,13503753.0,13945205.0,14400722.0,14871572.0,15359600.0,...,22514275.0,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0
5,Albania,3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,3148281.0,3128530.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
6,Andorra,54508.0,56666.0,58882.0,60974.0,62676.0,63860.0,64363.0,64318.0,64140.0,...,84461.0,84454.0,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0
8,United Arab Emirates,1828437.0,1937159.0,2052892.0,2173135.0,2294377.0,2415099.0,2539121.0,2671361.0,2813214.0,...,7917368.0,8549998.0,8946778.0,9141598.0,9197908.0,9214182.0,9262896.0,9360975.0,9487206.0,9630966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,162797.0,164000.0,165490.0,167117.0,168689.0,170050.0,171165.0,172065.0,172839.0,...,184553.0,185944.0,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0
262,Yemen,11709987.0,12302127.0,12954157.0,13634082.0,14297617.0,14913313.0,15469274.0,15975676.0,16450306.0,...,22516464.0,23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0
263,South Africa,36800507.0,37718952.0,38672611.0,39633754.0,40564061.0,41435761.0,42241007.0,42987456.0,43682259.0,...,50477013.0,51216967.0,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0
264,Zambia,8036849.0,8246662.0,8451346.0,8656484.0,8869745.0,9096608.0,9339740.0,9597610.0,9866474.0,...,13215142.0,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0
265,Zimbabwe,10432409.0,10681008.0,10900511.0,11092775.0,11261752.0,11410721.0,11541215.0,11653254.0,11747079.0,...,12526964.0,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0

In [21]:
df_pop.to_csv("./../datasets/cleaned-datasets/Population_Dataset.csv", index = False)